# Exclude everything
/*

# Specific includes

## submodules
!submodules/

## Build System/Scripts
!NuGet.Config
!Directory.Build.props
!build.sh
!build.ps1
!build.cmd

## Markdowns
!*.md
!LICENSE

## important Git files
!.gitmodules
!.gitignore
!.gitattributes
!.git-blame-ignore-revs

## GitHub specific
!.github/

## Thunderstore assets/metadata
!thunderstore.toml
!icon.png

## Solution
!ConfiguredYoutubeBoombox.sln

### Refuge Company Project
!ConfiguredYoutubeBoombox/
ConfiguredYoutubeBoombox/[Bb]in/
ConfiguredYoutubeBoombox/[Oo]bj/

### YoutubeDLSharp Project
!YoutubeDLSharp/
YoutubeDLSharp/[Bb]in/
YoutubeDLSharp/[Oo]bj/

# Explicit exceptions/ignores
**.user